<div class='footer'>
  <ul class='footer-contents'>
    <li><%= link_to 'お問い合わせ', "#", class: "footer-link" %></li>
    <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
    <li><%= link_to 'Nutrik利用規約', "#", class: "footer-link" %></li>
    <li><%= link_to 'サイトマップ', "#", class: "footer-link" %></li>
  </ul>
  <%= link_to image_tag("furima-logo-white.png", class:"logo-white"), "#" %>
  <p>Copyright(C) Dai Matsunaga. All right reserved</p>
</div>