<header class='top-page-header'>
  <div class='nutrik-icon'>
    <%= link_to "/" do %>
      <%= image_tag("logo.png", class: "main-logo")%>
    <% end %>  
  </div>
  <div class='search-bar-contents'>
    <%= form_with(url: search_foods_path, local: true, method: :get, class: "search-form") do |f| %>
      <%= f.text_field :keyword, placeholder: '料理名で検索', class: 'input-box' %>
      <%= button_tag type: :submit, class: "search-button" do %>
        <%= image_tag "search.png", class:"search-icon" %>
      <% end %>  
    <% end %>
  </div>  
  <div class='lists-right'>
    <% if user_signed_in? %>
      <div class='my-page'>
        <%= link_to user_path(current_user.id) do %>
          <%= image_tag("mypage.png") %>
          <div class="header-icon-text">マイページ</div>
        <% end %>
      </div>
      <div class='logout'>
        <%= link_to destroy_user_session_path, method: :delete  do %>
          <%= image_tag("logout.png") %>
          <div class="header-icon-text">ログアウト</div>
        <% end %>  
      </div>
    <% else %>  
      <div class='login'>
        <%= link_to new_user_session_path do %>
          <%= image_tag("login.png") %>
          <div class="header-icon-text">ログイン</div>
        <% end %>
      </div>
      <div class='sign_up'>
        <%= link_to new_user_path do %>
          <%= image_tag("sign_up.png") %>
          <div class="header-icon-text">新規登録</div>
        <% end %>
      </div>
    <% end %>  
  </div>  
</header>