<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部の「Nutrik」帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      Nutrik
    </h2>
    <div class='nutrik'>
      Nutrition Cooking
    </div>
    <p class='service-explain'>
      今日は何作ろうかな。
    </p>
    <p class='service-explain'>
      家族の健康のために頑張るあなたへ。
    </p>
    <p class='service-explain'>
      栄養バランスの見える化、はじめました。
    </p>
  </div>
  <%# /画面上部の「Nutrik」帯部分  %>

  <%# Nutrikの特徴 %>
  <div class='feature-contents'>
    <h2 class='title'>
      Nutrikの特徴
    </h2>
    <ul class='feature-lists'>
      <li class='list'>
        <%= image_tag "furima-intro04.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          簡単に売り買いできる
        </h3>
        <p class='feature-list-description'>
          スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "furima-intro05.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          売上金は即日振込みに対応
        </h3>
        <p class='feature-list-description'>
          午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします。
        </p>
      </li>
      <li class='list'>
        <%= image_tag "furima-intro06.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          様々な支払いに対応
        </h3>
        <p class='feature-list-description'>
          お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
        </p>
      </li>
    </ul>
  </div>
  <%# /Nutrikの特徴 %>

  <%# 商品一覧 %>
  <div class='item-contents'>
    <h2 class='title'>新規投稿レシピ</h2>
    <ul class='item-lists'>
      <%# 商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %>
      <li class='list'>
        <%= link_to "#" do %>
        <div class='item-img-content'>
          <%= image_tag "item-sample.png", class: "item-img" %>
        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= "料理名" %>
          </h3>
          <div class='item-price'>
            <span><%= "販売価格" %>円<br><%= '配送料負担' %></span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
      <%# //商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %>

      <%# 商品がない場合は以下のダミー商品が表示されるようにしましょう %>
      <%# 商品がある場合は表示されないようにしましょう %>
      <li class='list'>
        <%= link_to '#' do %>
        <%= image_tag "https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg", class: "item-img" %>
        <div class='item-info'>
          <h3 class='item-name'>
            商品を出品してね！
          </h3>
          <div class='item-price'>
            <span>99999999円<br>(税込み)</span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
      <%# //商品がある場合は表示されないようにしましょう %>
      <%# //商品がない場合は以下のダミー商品が表示されるようにしましょう %>
    </ul>
  </div>
  <%# /商品一覧 %>
</div>
<%= render "shared/footer" %>