<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部の「Nutrik」帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      Nutrik
    </h2>
    <div class='nutrik'>
      Nutrition Cooking
    </div>
    <p class='service-explain'>
      今日は何作ろうかな。
    </p>
    <p class='service-explain'>
      家族の健康のために頑張るあなたへ。
    </p>
    <p class='service-explain'>
      栄養バランスの見える化、はじめました。
    </p>
  </div>
  <%# /画面上部の「Nutrik」帯部分  %>

  <%# Nutrikの特徴 %>
  <div class='feature-contents'>
    <ul class='feature-lists'>
      <li class='list'>
        <%= image_tag "logo.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          Nutrikとは
        </h3>
        <p class='feature-list-description'>
          栄養バランスの良い料理を作るためのちょっとしたお役立ちアプリです。
        </p>
      </li>
      <li class='list'>
        <%= image_tag "ingredient-group.jpg", class:"list-pict" %>
        <h3 class='feature-list-text'>
          ６つの基礎食品とは
        </h3>
        <p class='feature-list-description'>
          含まれている栄養素によって食品を６つに分類し、各分類から食品をまんべんなく組み合わせて食事を作ることにより、バランスよく栄養を撮ることができるように工夫されたものです。
        </p>
      </li>
      <li class='list'>
        <%= image_tag "chart.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          Nutrikの特徴
        </h3>
        <p class='feature-list-description'>
          「６つの基礎食品群」を基に、それぞれの分類の食品がどのくらい取り入れられているかレシピをチェックすることができます。
        </p>
      </li>
    </ul>
  </div>
  <%# /Nutrikの特徴 %>

  <%# 料理一覧 %>
  <div class='food-contents'>
    <h2 class='title'>新規投稿レシピ</h2>
    <ul class='food-lists'>
      <% @foods.each do |food| %>
        <li class='list'>
          <%= link_to food_path(food.id) do %>
          <div class='food-img-content'>
            <%= image_tag food.image, class: "food-img" %>
          </div>
          <div class='food-info'>
            <h3 class='food-name'>
              <%= food.title %>
            </h3>
            <div class='food-time-cost'>
              <span><%= food.cook_time.name %><br><%= food.cost.name %></span>
              <div class='star-btn'>
                <%= image_tag "star.png", class:"star-icon" %>
                <span class='star-count'>0</span>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>  
      </li>

      <%# 料理がない場合 %>

      <% if @foods.blank? %>
        <li class='list'>
          <%= link_to '#' do %>
          <%= image_tag "curry.jpeg", class: "item-img" %>
          <div class='item-info'>
            <h3 class='item-name'>
              料理を投稿してね！
            </h3>
            <div class='item-price'>
              <span>約30分<br>500円前後</span>
              <div class='star-btn'>
                <%= image_tag "star.png", class:"star-icon" %>
                <span class='star-count'>0</span>
              </div>
            </div>
          </div>
          <% end %>
        </li>
      <% end %>

      <%# //料理がない場合 %>

    </ul>
  </div>
  <%# /料理一覧 %>
</div>
<%= render "shared/footer" %>