<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部の「Nutrik」帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      Nutrik
    </h2>
    <div class='nutrik'>
      Nutrition Cooking
    </div>
    <p class='service-explain'>
      今日は何作ろうかな。
    </p>
    <p class='service-explain'>
      家族の健康のために頑張るあなたへ。
    </p>
    <p class='service-explain'>
      栄養バランスの見える化、はじめました。
    </p>
  </div>
  <%# /画面上部の「Nutrik」帯部分  %>

  <%# Nutrikの特徴 %>
  <div class='feature-contents'>
    <ul class='feature-lists'>
      <li class='list'>
        <%= image_tag "logo.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          Nutrikとは
        </h3>
        <p class='feature-list-description'>
          栄養バランスの良い料理を作るためのちょっとしたお役立ちアプリです。
        </p>
      </li>
      <li class='list'>
        <%= image_tag "ingredient-group.jpg", class:"list-pict" %>
        <h3 class='feature-list-text'>
          ６つの基礎食品とは
        </h3>
        <p class='feature-list-description'>
          含まれている栄養素によって食品を６つに分類し、各分類から食品をまんべんなく組み合わせて食事を作ることにより、バランスよく栄養を撮ることができるように工夫されたものです。
        </p>
      </li>
      <li class='list'>
        <%= image_tag "chart.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          Nutrikの特徴
        </h3>
        <p class='feature-list-description'>
          「６つの基礎食品群」を基に、それぞれの分類の食品がどのくらい取り入れられているかレシピをチェックすることができます。
        </p>
      </li>
    </ul>
  </div>
  <%# /Nutrikの特徴 %>

  <%# 商品一覧 %>
  <div class='item-contents'>
    <h2 class='title'>新規投稿レシピ</h2>
    <ul class='item-lists'>
      <%# 商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %>
      <li class='list'>
        <%= link_to "#" do %>
        <div class='item-img-content'>
          <%= image_tag "item-sample.png", class: "item-img" %>
        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= "料理名" %>
          </h3>
          <div class='item-price'>
            <span><%= "調理時間" %>円<br><%= '費用目安' %></span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
      <%# //商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %>

      <%# 商品がない場合は以下のダミー商品が表示されるようにしましょう %>
      <%# 商品がある場合は表示されないようにしましょう %>
      <li class='list'>
        <%= link_to '#' do %>
        <%= image_tag "https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg", class: "item-img" %>
        <div class='item-info'>
          <h3 class='item-name'>
            商品を出品してね！
          </h3>
          <div class='item-price'>
            <span>99999999円<br>(税込み)</span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
      <%# //商品がある場合は表示されないようにしましょう %>
      <%# //商品がない場合は以下のダミー商品が表示されるようにしましょう %>
    </ul>
  </div>
  <%# /商品一覧 %>
</div>
<%= render "shared/footer" %>